[Unit]
Description=Hazelcast Server

[Service]
Type=simple
WorkingDirectory=/var/hazelcast
ExecStart=/usr/bin/mvn exec:java
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hazelcast
Restart=always

[Install]
WantedBy=multi-user.target
Alias=hazelcast.service