@using Microsoft.eShopWeb.ViewModels
@{
    ViewData["Title"] = "Checkout Complete";
    @model BasketViewModel
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="../images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>Thanks for your Order!</h1>

    <a asp-controller="Catalog" asp-action="Index">Continue Shopping...</a>
</div>
