dn: {{OLCSUFFIX}}
objectClass: dcObject
objectClass: organization
o: {{CERT_O}}
dc: {{DC}}

dn: ou=users,{{OLCSUFFIX}}
objectClass: organizationalUnit
objectClass: top
ou: users

dn: ou=groups,{{OLCSUFFIX}}
objectClass: organizationalUnit
objectClass: top
ou: groups  
