{% for item in user_list %}
dn: uid={{item.name}},ou=users,{{OLCSUFFIX}}
cn: {{item.name}}
givenName: {{item.first}}
sn: {{item.last}}
objectClass: top
objectclass: inetorgperson
objectClass: organizationalPerson
objectClass: posixaccount
loginshell: /bin/bash
uidNumber: {{item.uid}}
gidNumber: {{item.gid}}
homedirectory: /home/{{item.name}}
userPassword: {{OLCUSERPW_ENC.stdout}}
mail: {{item.name}}@{{CERT_LDAP}}
l: {{CERT_L}}
o: {{CERT_O}}
displayName: {{item.first}} {{item.last}}

{% endfor %}


{% for group in group_list %}
dn: cn={{group.group}},ou=groups,{{OLCSUFFIX}}
objectClass: groupofnames
objectClass: top
objectClass: extensibleObject
displayName: {{group.desc}}
name: {{group.group}}
gidNumber: {{group.gid}}
{% for member in group['member'] %}memberUid: {{member}}
{% endfor %}
cn: {{group.group}}
{% for member in group['member'] %}member: uid={{member}},ou=users,{{OLCSUFFIX}}
{% endfor %}

{% endfor %}