dn: uid=sasadmin,ou=users,{{OLCSUFFIX}}
cn: sasadmin
givenName: SAS
sn: Admin
objectClass: top
objectclass: inetorgperson
objectClass: organizationalPerson
objectClass: posixaccount
loginshell: /bin/bash
uidNumber: 100000
gidNumber: 100000
homedirectory: /home/sasadmin
userPassword: {{OLCROOTPW_ENC.stdout}}
mail: sasadmin@{{CERT_LDAP}}
l: {{CERT_L}}
o: {{CERT_O}}
displayName: SAS Admin User

dn: cn=sasadmin,ou=groups,{{OLCSUFFIX}}
objectClass: groupofnames
objectClass: top
objectClass: extensibleObject
displayName: SAS Administrator Accounts
gidNumber: 100000
name: SASADMIN
cn: sasadmin
description: SAS Administrator Accounts
member: uid=sasadmin,ou=users,{{OLCSUFFIX}}