dn: uid=sasldap,ou=users,{{OLCSUFFIX}}
cn: sasldap
givenName: SAS
sn: LDAP
objectClass: top
objectclass: inetorgperson
objectClass: organizationalPerson
objectClass: person
userPassword: {{OLCROOTPW | b64decode }}
mail: sasldap@none.sas.com
l: {{CERT_L}}
o: {{CERT_O}}
displayName: SAS LDAP Service Account

dn: cn=sasldap,ou=groups,{{OLCSUFFIX}}
objectClass: groupofnames
objectClass: top
objectClass: extensibleObject
displayName: SAS LDAP Service Accounts
name: SASLDAP
cn: sasldap
description: SAS LDAP Service Accounts
member: uid=sasldap,ou=users,{{OLCSUFFIX}}
