config:
     application:
         sas.identities.providers.ldap.connection:
             host: '{{CERT_LDAP}}'
             port: '389'
             url: 'ldap://${sas.identities.providers.ldap.connection.host}:${sas.identities.providers.ldap.connection.port}'
             userDN: 'uid=sasldap,ou=users,{{OLCSUFFIX}}'
             password: '{{OLCROOTPW | b64decode }}'
         sas.identities.providers.ldap.group:
             accountId: 'name'
             baseDN: 'ou=groups,{{OLCSUFFIX}}'
             createdDate: 'createTimestamp'
             distinguishedName: 'none'
             member: 'member'
             modifiedDate: 'modifyTimestamp'
             objectClass: 'groupOfNames'
             objectFilter: '(objectClass=groupOfNames)'
             searchFilter: 'dn={0}'
         sas.identities.providers.ldap.user:
             accountId: 'uid'
             baseDN: 'ou=users,{{OLCSUFFIX}}'
             createdDate: 'createTimestamp'
             distinguishedName: 'none'
             memberOf: 'memberOf'
             modifiedDate: 'modifyTimestamp'
             objectClass: 'inetOrgPerson'
             objectFilter: '(objectClass=inetOrgPerson)'
             searchFilter: 'uid={0}'
     identities:
         sas.identities:
             administrator: 'sasadmin'
