[sssd]
config_file_version = 2
domains = {{SSSD_DOM}}
services = nss, pam

[nss]

[pam]

[domain/{{SSSD_DOM}}]
debug_level = 9

id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
access_provider = permit

ldap_uri = ldaps://{{CERT_LDAP}}:636/
ldap_tls_cacert = {{CERTLOC}}/{{CERTNAME}}.pem

ldap_default_bind_dn = uid=sasldap,ou=users,{{OLCSUFFIX}}
ldap_default_authtok = {{OLCROOTPW | b64decode }}

ldap_search_base = {{OLCSUFFIX}}

ldap_user_fullname = displayName

ldap_group_object_class = groupOfNames
ldap_group_name = cn
ldap_group_gid_number = gidNumber
ldap_group_member = memberUid