ansible-advancedlinux/Ansible_ARM.ps1
apprenda60-express/provisionApprendaTestScript.ps1
apprenda60-small/provisionApprendaTestScript.ps1
apprenda60-express/provisionApprendaTestScript.ps1

# local template parameters
elasticsearch/azuredeploy.parameters.local.*
elasticsearch-jmeter/azuredeploy.parameters.local.*

# emacs autosaves
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
.vscode/settings.json

