ansible-advancedlinux/Ansible_ARM.ps1
apprenda60-express/provisionApprendaTestScript.ps1
apprenda60-small/provisionApprendaTestScript.ps1
apprenda60-express/provisionApprendaTestScript.ps1

# local template parameters
**/azuredeploy.parameters.local.json
**/azuredeploy.parameters.dev.json
**/azuredeploy.parameters.?.json
**/prereq.azuredeploy.parameters.?.json
**/prereq.azuredeploy.parameters.dev.json

# secrets
**/*.pfx
**/*.cer

# emacs autosaves
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
.vscode
node_modules
Nese_OMS_NEstedforOMSWS.json
test/template-validation-tests/package-lock.json
test/template-validation-tests/mochawesome-report/*

test/AzTemplateToolKit.zip
test/arm-template-toolkit.zip
test/ci-scripts/azuredeploy.parameters.new.json
