[Unit]
Description=guacd running on Docker

Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=3
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f some-guacd
ExecStartPre=-/usr/bin/docker pull glyptodon/guacd:latest

ExecStart=/usr/bin/docker run \
  --name some-guacd \
  glyptodon/guacd:latest

ExecStop=/bin/bash -c " \
  /usr/bin/docker stop some-guacd || true \
  /usr/bin/docker rm some-guacd || true \
"

[Install]
WantedBy=multi-user.target
