[Unit]
Description=MariaDB running on Docker

Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=3
TimeoutStartSec=0

ExecStartPre=/usr/bin/chmod +x /opt/bin/docker-mariadb.sh
ExecStart=/opt/bin/docker-mariadb.sh

ExecStop=/bin/bash -c " \
  /usr/bin/docker stop some-mariadb || true \
  /usr/bin/docker rm some-mariadb || true \
"

[Install]
WantedBy=multi-user.target
