<div class="container">
  <table>
    <tbody>
      <tr>
        <td><h1>Waiting on local geth node to boot...</h1></td>
        <td>
          <form action="" method="GET">
            <input class="button-primary" type="submit" value="Refresh">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
