[Unit]
Description=Wait for MariaDB to be initialized

Requires=docker.service docker-mariadb.service
Wants=network-online.target
After=docker.service docker-mariadb.service network-online.target

[Service]
Type=simple
RemainAfterExit=true
ExecStartPre=/usr/bin/chmod +x /opt/bin/docker-mariadb-waiter.sh
ExecStart=/usr/bin/bash /opt/bin/docker-mariadb-waiter.sh

[Install]
WantedBy=multi-user.target
