---
- type: replace
  path: /instance_groups/name=bosh/properties/azure/azure_stack?
  value: &azure-stack-properties
    domain: ((azure_stack_domain))
    resource: ((azure_stack_resource))
    authentication: AzureAD
    endpoint_prefix: management
    skip_ssl_validation: true
    use_http_to_access_storage_account: true

- type: replace
  path: /cloud_provider/properties/azure/azure_stack?
  value: *azure-stack-properties
