# Response file for the SAS Deployment Wizard
# Created: Sep 29, 2020 2:00:49 PM
#
# Responses with multiple options are separated with / characters.

# Select SAS Deployment Manager Task
# The SAS Deployment Manager provides tasks to help you manage your software deployments. Select the task you want to perform.
#MANAGE_TASK=password/rebuild/DeployWebApps/remove/renewalLicense/updatesid/changehost/applyhotfix/maintenance/changepassphrase/localesetupmgr/autoload/uninstall/deployagent_config/deployagent_start/deployagent_stop/deployagent_pushcred/deployagent_pullcred/certframe_add/certframe_remove
 MANAGE_TASK=certframe_add

# Specify Certificate to Add
# The Add Certificate task is used to add a certificate to the truststore. Enter the location of the certificate to be added.
#certframe.add.file=<full path to file>
 certframe.add.file=/sasshare/loadbalancer.crt.pem
