# Response file for the SAS Deployment Wizard
# Created: Sep 3, 2020 11:58:49 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME={{ sasFolder }}/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=yes
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=no

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sasshare/depot/plan.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step and Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=Middle Tier
 PRODUCT_SELECTION1=deployagent
 PRODUCT_SELECTION2=deployagtclt
 PRODUCT_SELECTION3=webinfdsvr
 PRODUCT_SELECTION4=platfmltypes
 PRODUCT_SELECTION5=mgmtconsole
 PRODUCT_SELECTION6=wipclient
 PRODUCT_SELECTION7=dprosmc
 PRODUCT_SELECTION8=webinfdjdbc
 PRODUCT_SELECTION9=erssvr
 PRODUCT_SELECTION10=tcsvr
 PRODUCT_SELECTION11=jps
 PRODUCT_SELECTION12=webinfpltfm
 PRODUCT_SELECTION13=flexthemes
 PRODUCT_SELECTION14=themes
 PRODUCT_SELECTION15=admappmid
 PRODUCT_SELECTION16=svrbakupevm
 PRODUCT_SELECTION17=bixpoll
 PRODUCT_SELECTION18=searchsas
 PRODUCT_SELECTION19=bicentralmid
 PRODUCT_SELECTION20=webdoc
 PRODUCT_SELECTION21=bisrvmid
 PRODUCT_SELECTION22=sagemid
 PRODUCT_SELECTION23=bidesignmid
 PRODUCT_SELECTION24=bivagbmid
 PRODUCT_SELECTION25=bivaprint
 PRODUCT_SELECTION26=biviewermid
 PRODUCT_SELECTION27=biprepmid
 PRODUCT_SELECTION28=bidbldmid
 PRODUCT_SELECTION29=biservmid
 PRODUCT_SELECTION30=webinfplfdoc
 PRODUCT_SELECTION31=studiomid
 PRODUCT_SELECTION32=evmgrpinfnd
 PRODUCT_SELECTION33=hypericsvr
 PRODUCT_SELECTION34=evmkitevp
 PRODUCT_SELECTION35=hyperagnt
 PRODUCT_SELECTION36=evmclient
 PRODUCT_SELECTION37=dproserver
 PRODUCT_SELECTION38=dproclient
 PRODUCT_SELECTION39=bivagbltypes
 PRODUCT_SELECTION40=bilogtypes
 PRODUCT_SELECTION41=bidbldltypes
 PRODUCT_SELECTION42=ttfontsvert
 PRODUCT_SELECTION43=certframe
 PRODUCT_SELECTION44=sagelogtypes

# Specify SAS Installation Data File
# Specify the full path to your SAS installation data file.
#SAS_INSTALLATION_DATA=<full path to file>
 SAS_INSTALLATION_DATA=/sasshare/depot/sid_files/{{ sid_file_name }}

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Specify Remote Communication Configuration
# The SAS Deployment Agent must be configured in order to perform configuration management operations.
#deployagt.config.port=<port number value>
 deployagt.config.port=5660
#deployagt.config.security.selected=0/1/2
 deployagt.config.security.selected=1
