# Response file for the SAS Deployment Wizard
# Created: Sep 4, 2020 10:57:21 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME={{ sasFolder }}/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=no
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=yes

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sasshare/depot/plan.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step and Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=step 5

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Configuration Prompting Level
# Select the level of prompting for configuration information dialogs.
#CONFIGURATION_PROMPTS=minimum/moderate/full
 CONFIGURATION_PROMPTS=moderate

# Specify Configuration Information
# Specify the configuration directory and the level within the configuration directory to create your SAS software configuration.
#CONFIGURATION_DIRECTORY=<full path>
 CONFIGURATION_DIRECTORY={{ sasFolder }}/config
#CONFIGURATION_LEVEL=<subdirectory>
 CONFIGURATION_LEVEL=Lev1

# Local Machine Name
# Specify the local host name information.
#os.localhost.fqdn.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.fqdn.host.name={{NodeName}}.internal.cloudapp.net
#os.localhost.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.host.name={{NodeName}}

# Migration Information
# Specify migration information if performing migration for this deployment.
#PERFORM_MIGRATION=yes/no
 PERFORM_MIGRATION=no
#MIGRATION_PACKAGE=<full path>
 MIGRATION_PACKAGE=

# SAS Metadata Server
# Specify SAS Metadata Server connection information.
#iomsrv.metadatasrv.host=<text value>
 iomsrv.metadatasrv.host=metadata-0.internal.cloudapp.net
#iomsrv.metadatasrv.port=<port number value>
 iomsrv.metadatasrv.port=8561

# Deployment Accounts: Type of Accounts
# Select the type of accounts chosen when configuring the Metadata Server. Your connection to the Metadata Server could be refused if you select incorrectly.
#user.account.type.as=internal/external
 user.account.type.as=internal

# SAS Internal Account: Unrestricted Administrator
# Specify the metadata password for the first Unrestricted Administrator identity. The Unrestricted Administrator has unrestricted administrative access to metadata.
#oma.person.admin.login.passwd.internal.as=<password value>
 oma.person.admin.login.passwd.internal.as={{ AdminPassword }}
#oma.person.admin.login.share_passwd=yes/no
 oma.person.admin.login.share_passwd=yes

# SAS Internal Account: Trusted User
# Specify the metadata password for the Trusted User identity. The Trusted User is a privileged service account that can act on behalf of other users on a connection to the metadata server.
#oma.person.trustusr.login.passwd.internal.as=<password value>
 oma.person.trustusr.login.passwd.internal.as={{ AdminPassword }}

# E-mail Server
# Specify e-mail server information.
#server.mailsrv.host=<text value>
 server.mailsrv.host=hostname.unx.sas.com
#server.mailsrv.port=<port number value>
 server.mailsrv.port=25

# E-mail Addresses
# Specify the e-mail addresses that will be used when communicating with the system administrator.
#server.mailsrv.email.sender.address=<text value>
 server.mailsrv.email.sender.address=noreply@hostname.unx.sas.com
#server.mailsrv.email.to.address=<text value>
 server.mailsrv.email.to.address=noreply@hostname.unx.sas.com
#server.mailsrv.requires.authentication=yes/no
 server.mailsrv.requires.authentication=no

# Web Application Server: First Server Configuration
# Specify the first web application server information.

# Web Application Server: Server Ports
#
#webappsrv.server1.http.port.actual=<port number value>
 webappsrv.server1.http.port.actual=8080
#webappsrv.server1.jmx.port=<port number value>
 webappsrv.server1.jmx.port=6969
#webappsrv.server1.cluster.multiplier=1/2/3/4/5
 webappsrv.server1.cluster.multiplier=1

# Web Application Server: Second Server Configuration
# Specify the second web application server information.

# Web Application Server: Server Ports
#
#webappsrv.server2.http.port.actual=<port number value>
 webappsrv.server2.http.port.actual=8180
#webappsrv.server2.jmx.port=<port number value>
 webappsrv.server2.jmx.port=7069
#webappsrv.server2.cluster.multiplier=1/2/3/4/5
 webappsrv.server2.cluster.multiplier=1

# Web Application Server: Twelfth Server Configuration
# Specify the twelfth web application server information.

# Web Application Server: Server Ports
#
#webappsrv.server12.http.port.actual=<port number value>
 webappsrv.server12.http.port.actual=9180
#webappsrv.server12.jmx.port=<port number value>
 webappsrv.server12.jmx.port=8069
#webappsrv.server12.cluster.multiplier=1/2/3/4/5
 webappsrv.server12.cluster.multiplier=1

# Web Applications: Automatic Deployment
# Specify whether to deploy the web applications automatically to the web application server.
#webapp.auto_deploy=yes/no
 webapp.auto_deploy=yes

# SAS Web Infrastructure Platform Database: JDBC Properties
# Specify the connection information for the SAS Web Infrastructure Database JDBC connection.
#webappsrv.dbms.passwd=<password value>
 webappsrv.dbms.passwd={{ AdminPassword }}

# SAS Environment Manager Agent Configuration
# Specify the SAS Environment Manager/Agent information.
#hyperagntc.agent.setup.camIP=<text value>
 hyperagntc.agent.setup.camIP=midtier-0.internal.cloudapp.net
#hyperagntc.agent.setup.camPort=<port number value>
 hyperagntc.agent.setup.camPort=7080
#hyperagntc.agent.setup.camSSLPort=<port number value>
 hyperagntc.agent.setup.camSSLPort=7443
#hyperagntc.agent.setup.agentPort=<port number value>
 hyperagntc.agent.setup.agentPort=2144

# SAS Internal Account: SAS Environment Manager Service Account
# Specify the metadata password for the service identity for SAS Environment Manager Service.
#hyperagntc.admin.passwd.as=<password value>
 hyperagntc.admin.passwd.as={{ AdminPassword }}
