# Response file for the SAS Deployment Wizard
# Created: Sep 3, 2020 10:58:00 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME={{ sasFolder }}/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=no
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=yes

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sasshare/depot/plan.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step and Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=step 3

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Configuration Prompting Level
# Select the level of prompting for configuration information dialogs.
#CONFIGURATION_PROMPTS=minimum/moderate/full
 CONFIGURATION_PROMPTS=moderate

# Specify Configuration Information
# Specify the configuration directory and the level within the configuration directory to create your SAS software configuration.
#CONFIGURATION_DIRECTORY=<full path>
 CONFIGURATION_DIRECTORY={{ sasFolder }}/config
#CONFIGURATION_LEVEL=<subdirectory>
 CONFIGURATION_LEVEL=Lev1

# Local Machine Name
# Specify the local host name information.
#os.localhost.fqdn.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.fqdn.host.name=vacontroller.internal.cloudapp.net
#os.localhost.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.host.name=vacontroller

# Migration Information
# Specify migration information if performing migration for this deployment.
#PERFORM_MIGRATION=yes/no
 PERFORM_MIGRATION=no
#MIGRATION_PACKAGE=<full path>
 MIGRATION_PACKAGE=

# Integrated Windows Authentication
# Select whether to use Integrated Windows authentication for client connections.
#client.use_iwa=yes/no
 client.use_iwa=no

# Token-based authentication
# Select whether to use token-based authentication for client connection.
#workspacesrv.use_tba=yes/no
 workspacesrv.use_tba=yes

# SAS Metadata Server
# Specify SAS Metadata Server connection information.
#iomsrv.metadatasrv.host=<text value>
 iomsrv.metadatasrv.host=metadata-0.internal.cloudapp.net
#iomsrv.metadatasrv.port=<port number value>
 iomsrv.metadatasrv.port=8561

# Deployment Accounts: Type of Accounts
# Select the type of accounts chosen when configuring the Metadata Server. Your connection to the Metadata Server could be refused if you select incorrectly.
#user.account.type.as=internal/external
 user.account.type.as=internal

# Automatic Script Execution
# Specify your preference for automatic script execution.
#config.sudo.setuid.is_enabled=yes/no
 config.sudo.setuid.is_enabled=yes

# Password for Current ID
# Provide the password for the user ID currently using the SAS Deployment Wizard.
#config.sudo.setuid.passwd=<password value>
 config.sudo.setuid.passwd={{AdminPassword}}

# SAS Internal Account: Unrestricted Administrator
# Specify the metadata password for the first Unrestricted Administrator identity. The Unrestricted Administrator has unrestricted administrative access to metadata.
#oma.person.admin.login.passwd.internal.as=<password value>
 oma.person.admin.login.passwd.internal.as={{AdminPassword}}
#oma.person.admin.login.share_passwd=yes/no
 oma.person.admin.login.share_passwd=yes

# SAS Internal Account: Trusted User
# Specify the metadata password for the Trusted User identity. The Trusted User is a privileged service account that can act on behalf of other users on a connection to the metadata server.
#oma.person.trustusr.login.passwd.internal.as=<password value>
 oma.person.trustusr.login.passwd.internal.as={{AdminPassword}}

# External Account: SAS Spawned Servers Account
# Specify credentials for the SAS Spawned Servers account, used to launch back-end stored process and pooled workspace servers.
#oma.person.gensrvusr.login.userid=<user name value>
 oma.person.gensrvusr.login.userid=sassrv
#oma.person.gensrvusr.login.passwd=<password value>
 oma.person.gensrvusr.login.passwd={sas001}{{ExternalPassword}}

# Deployment Accounts: First User
# Select whether to set up a First User identity for demonstration purposes.
#server.runas_demouser=yes/no
 server.runas_demouser=yes

# External Account: First User
# Specify an external user ID for the First User identity. The SAS Deployment Wizard does not validate credentials for this identity, so you do not enter a password.
#oma.person.demo.login.userid=<user name value>
 oma.person.demo.login.userid=sasdemo

# SAS Object Spawner
# Specify SAS Object Spawner information.
#spawner.objectspawnr.operator.port=<port number value>
 spawner.objectspawnr.operator.port=8581

# SAS Object Spawner: Port Bank
# Specify SAS Object Spawner port bank ports.
#spawner.objectspawnr.portbank.port1=<port number value>
 spawner.objectspawnr.portbank.port1=8801
#spawner.objectspawnr.portbank.port2=<port number value>
 spawner.objectspawnr.portbank.port2=8811
#spawner.objectspawnr.portbank.port3=<port number value>
 spawner.objectspawnr.portbank.port3=8821

# SAS Application Server: Server Context
# Specify the SAS application server context name.
#oma.appserver.servercontext.name=<text value>
 oma.appserver.servercontext.name=SASApp

# SAS Workspace Server
# Specify SAS Workspace Server information.
#iomsrv.workspacesrv.port=<port number value>
 iomsrv.workspacesrv.port=8591

# SAS Pooled Workspace Server
# Specify SAS Pooled Workspace Server information.
#iomsrv.workspacpool.port=<port number value>
 iomsrv.workspacpool.port=8701

# SAS Stored Process Server
# Specify SAS Stored Process Server information.
#iomsrv.storprocsrv.port=<port number value>
 iomsrv.storprocsrv.port=8601

# Stored Process Server: Multibridge Connections
# Specify multibridge connection information for the SAS Stored Process Server.
#iomsrv.storprocsrv.loadbalanced.port1=<port number value>
 iomsrv.storprocsrv.loadbalanced.port1=8611
#iomsrv.storprocsrv.loadbalanced.port2=<port number value>
 iomsrv.storprocsrv.loadbalanced.port2=8621
#iomsrv.storprocsrv.loadbalanced.port3=<port number value>
 iomsrv.storprocsrv.loadbalanced.port3=8631

# SAS Web Infrastructure Platform Data Server
# Specify information for SAS Web Infrastructure Platform Data Server.
#iomsrv.webinfdsvrc.host=<text value>
 iomsrv.webinfdsvrc.host=vacontroller.internal.cloudapp.net
#iomsrv.webinfdsvrc.port=<port number value>
 iomsrv.webinfdsvrc.port=9432
#iomsrv.webinfdsvrc.userid=<user name value>
 iomsrv.webinfdsvrc.userid=dbmsowner
#iomsrv.webinfdsvrc.passwd=<password value>
 iomsrv.webinfdsvrc.passwd={{AdminPassword}}

# SAS DATA Step Batch Server
# Specify SAS DATA Step Batch Server information.
#server.dsbatchsrv.jobs.dir=<full path>
 server.dsbatchsrv.jobs.dir={{ sasFolder }}/config/Lev1/SASApp/SASEnvironment/SASCode/Jobs
#server.dsbatchsrv.jobs.dir.name=<text value>
 server.dsbatchsrv.jobs.dir.name=Batch Jobs

# Operating System Services Scheduling Server
# Specify the Operating System Services Scheduling Server information.
#iomsrv.ossrvsched.port=<port number value>
 iomsrv.ossrvsched.port=8451

# SAS Deployment Tester Server
# Specify SAS Deployment Tester Server connection information.
#server.dproserver.port=<port number value>
 server.dproserver.port=10021
#server.dproserver.junitlocation=<full path to file (optional)>
 server.dproserver.junitlocation=

# Scheduling Services Cache Locator
# Specify the Scheduling Services Cache locator information.
#wipschedsvcs.cache.locator.port=<text value>
 wipschedsvcs.cache.locator.port=41415

# Scheduling Services DIP JobRunner
# Toggle startup state for the Scheduling Services DIP JobRunner.
#wipschedsvcs.dipjobrunner.autostart=yes/no
 wipschedsvcs.dipjobrunner.autostart=no

# IP Multicast
# Specify IP Multicast information to allow status communication amongst applications.
#midtier.multicast.address=<IP multicast address>
 midtier.multicast.address=239.21.15.165
#midtier.multicast.port=<port number value>
 midtier.multicast.port=8561
#midtier.multicast.ip.ttl=<number value>
 midtier.multicast.ip.ttl=1
#midtier.multicast.auth.token.is_enabled=yes/no
 midtier.multicast.auth.token.is_enabled=no

# SAS Environment Manager Agent Configuration
# Specify the SAS Environment Manager/Agent information.
#hyperagntc.agent.setup.camIP=<text value>
 hyperagntc.agent.setup.camIP=midtier-0.internal.cloudapp.net
#hyperagntc.agent.setup.camPort=<port number value>
 hyperagntc.agent.setup.camPort=7080
#hyperagntc.agent.setup.camSSLPort=<port number value>
 hyperagntc.agent.setup.camSSLPort=7443
#hyperagntc.agent.setup.agentPort=<port number value>
 hyperagntc.agent.setup.agentPort=2144

# SAS Internal Account: SAS Environment Manager Service Account
# Specify the metadata password for the service identity for SAS Environment Manager Service.
#hyperagntc.admin.passwd.as=<password value>
 hyperagntc.admin.passwd.as={{AdminPassword}}

# SAS Visual Analytics Data Provider
# SAS Visual Analytics High-Performance Configuration requires information about the data provider to be used with SAS Visual Analytics. Specify the requested information.
#bihpgrdc.lasrserver.dataserver.type=Hadoop/AsymHadoop/AsymGreenplum/AsymTeradata/MapR
 bihpgrdc.lasrserver.dataserver.type=Hadoop

# SAS Visual Analytics High-Performance Configuration Information
# SAS Visual Analytics High-Performance Configuration requires information about the SAS High-Performance Analytics environment. Specify the requested information.
#bihpgrdc.lasrserver.host=<text value>
 bihpgrdc.lasrserver.host=vacontroller.internal.cloudapp.net
#bihpgrdc.lasrserver.port=<port number value>
 bihpgrdc.lasrserver.port=10011
#bihpgrdc.lasrserver.unx.sigfiles.path=<text value>
 bihpgrdc.lasrserver.unx.sigfiles.path=/tmp
#bihpgrdc.lasrserver.path=<text value>
 bihpgrdc.lasrserver.path={{ sasFolder }}/TKGrid
#bihpgrdc.hpmc.url=<URL value>
 bihpgrdc.hpmc.url=http://vacontroller.internal.cloudapp.net:10020
#bihpgrdc.mpp.teragram.bin.dir=<text value>
 bihpgrdc.mpp.teragram.bin.dir={{ sasFolder }}/TKTGDat

# SAS Visual Analytics Data Provider : Hadoop
# SAS Visual Analytics High-Performance Configuration requires information about the SAS High-Performance Analytics environment. Specify the requested information.
#bihpgrdc.lasrserver.hadoop.dataserver.host=<text value>
 bihpgrdc.lasrserver.hadoop.dataserver.host=vacontroller.internal.cloudapp.net
#bihpgrdc.lasrserver.hadoop.dataserver.port=<port number value>
 bihpgrdc.lasrserver.hadoop.dataserver.port=15452
#bihpgrdc.lasrserver.hadoop.dataserver.authdomain=<text value>
 bihpgrdc.lasrserver.hadoop.dataserver.authdomain=HadoopAuth
#bihpgrdc.lasrserver.hadoop.library.name=<text value>
 bihpgrdc.lasrserver.hadoop.library.name=Visual Analytics HDFS
#bihpgrdc.lasrserver.hadoop.library.libref=<text value>
 bihpgrdc.lasrserver.hadoop.library.libref=HPS
#bihpgrdc.lasrserver.hadoop.library.database=<text value>
 bihpgrdc.lasrserver.hadoop.library.database=/hps

# SAS Visual Analytics Public Data Library : Hadoop
# SAS Visual Analytics High-Performance Configuration requires information about the Public Data Library. Specify the requested information.
#bihpgrdc.lasrserver.hadoop.publibrary.name=<text value>
 bihpgrdc.lasrserver.hadoop.publibrary.name=Visual Analytics Public HDFS
#bihpgrdc.lasrserver.hadoop.publibrary.libref=<text value>
 bihpgrdc.lasrserver.hadoop.publibrary.libref=VAPUBLIC
#bihpgrdc.lasrserver.hadoop.publibrary.database=<text value>
 bihpgrdc.lasrserver.hadoop.publibrary.database=/vapublic

# SAS Visual Analytics Public Data Provider
# SAS Visual Analytics library definition for public non-distributed data provider.
#bihpgrdc.baselibrary.name=<text value>
 bihpgrdc.baselibrary.name=Visual Analytics Public Data Provider
#bihpgrdc.baselibrary.libref=<text value>
 bihpgrdc.baselibrary.libref=DPPUBLIC
#bihpgrdc.reload.dir=<text value>
 bihpgrdc.reload.dir={{ sasFolder }}/config/Lev1/AppData/SASVisualAnalytics/VisualAnalyticsAdministrator/PublicDataProvider

# SAS LASR Analytic Server Monitor Configuration Information
# SAS LASR Analytic Server Monitor requires information about host name and port for Remote Method Invocation (RMI) Registry. Specify the requested information.
#bihpgrdc.monitor.host=<text value>
 bihpgrdc.monitor.host=vacontroller.internal.cloudapp.net
#bihpgrdc.monitor.port=<port number value>
 bihpgrdc.monitor.port=9971

# SAS LASR Analytics Server Monitor Hadoop Options
# SAS LASR Analytics Server Monitor may have additional options defined here
#bihpgrdc.hadoop.plugins.use.ssh=<text value>
 bihpgrdc.hadoop.plugins.use.ssh=true
#bihpgrdc.hadoop.plugins.ssh.command=<text value>
 bihpgrdc.hadoop.plugins.ssh.command=/usr/bin/ssh
#bihpgrdc.hadoop.plugins.ssh.options=<text value>
 bihpgrdc.hadoop.plugins.ssh.options=-o StrictHostKeyChecking=no -o PasswordAuthentication=no
#bihpgrdc.hadoop.plugins.hadoop.home=<text value>
 bihpgrdc.hadoop.plugins.hadoop.home={{ sasFolder }}/hadoop
#bihpgrdc.hadoop.plugins.ssh.stderr.redirection=<text value>
 bihpgrdc.hadoop.plugins.ssh.stderr.redirection=2>/dev/null

# SAS Visual Analytics Public Data Library Information
# SAS Visual Analytics Public Data Library requires information about the SAS High-Performance Analytics environment.  Specify the requested information.
#bihpgrdc.autoload.server.port=<port number value>
 bihpgrdc.autoload.server.port=10031

# SAS Visual Analytics AutoLoad Location
# SAS Visual Analytics AutoLoad Location is the host directory from which tables are automatically loaded to memory.
#bihpgrdc.autoload.dir=<text value>
 bihpgrdc.autoload.dir={{ sasFolder }}/config/Lev1/AppData/SASVisualAnalytics/VisualAnalyticsAdministrator/AutoLoad

# SAS Visual Analytics: SAS LASR Analytic Server Library
# Specify the library information.
#bihpgrdc.lasr.library.name=<text value>
 bihpgrdc.lasr.library.name=Visual Analytics LASR
#bihpgrdc.lasr.library.libref=<text value>
 bihpgrdc.lasr.library.libref=VALIBLA

# SAS Visual Analytics: Public LASR Libraries
# Specify the SAS Library information.
#bihpgrdc.lasr.publibrary.name=<text value>
 bihpgrdc.lasr.publibrary.name=Visual Analytics Public LASR
#bihpgrdc.lasr.publibrary.libref=<text value>
 bihpgrdc.lasr.publibrary.libref=LASRLIB

# SAS Visual Analytics Sample Reports
# Specify whether to include sample Visual Analytics reports.
#bimvac.samples.enabled=yes/no
 bimvac.samples.enabled=yes

# SAS Information Retrieval Studio
# Specify information for SAS Information Retrieval Studio.
#txainfretsrv.server.host=<text value>
 txainfretsrv.server.host=vacontroller.internal.cloudapp.net
#txainfretsrv.server.port=<port number value>
 txainfretsrv.server.port=10651
