# Response file for the SAS Deployment Wizard
# Created: Sep 3, 2020 9:41:40 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME={{ sasFolder }}/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=no
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=yes

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sasshare/depot/plan.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step and Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=step 1

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Configuration Prompting Level
# Select the level of prompting for configuration information dialogs.
#CONFIGURATION_PROMPTS=minimum/moderate/full
 CONFIGURATION_PROMPTS=moderate

# Specify Configuration Information
# Specify the configuration directory and the level within the configuration directory to create your SAS software configuration.
#CONFIGURATION_DIRECTORY=<full path>
 CONFIGURATION_DIRECTORY={{ sasFolder }}/config
#CONFIGURATION_LEVEL=<subdirectory>
 CONFIGURATION_LEVEL=Lev1

# Local Machine Name
# Specify the local host name information.
#os.localhost.fqdn.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.fqdn.host.name=metadata-0.internal.cloudapp.net
#os.localhost.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.host.name=metadata-0

# Migration Information
# Specify migration information if performing migration for this deployment.
#PERFORM_MIGRATION=yes/no
 PERFORM_MIGRATION=no
#MIGRATION_PACKAGE=<full path>
 MIGRATION_PACKAGE=

# SAS Metadata Server
# Specify SAS Metadata Server connection information.
#iomsrv.metadatasrv.host=<text value>
 iomsrv.metadatasrv.host=metadata-0.internal.cloudapp.net
#iomsrv.metadatasrv.port=<port number value>
 iomsrv.metadatasrv.port=8561

# SAS Metadata Server: Override Backup Location
# Select whether to override the default SAS Metadata Server backup directory.
#iomsrv.metadatasrv.backup.dir.user_specified=yes/no
 iomsrv.metadatasrv.backup.dir.user_specified=yes

# SAS Metadata Server: Backup Location
# Specify SAS Metadata Server backup directory.
#iomsrv.metadatasrv.backup.dir=<text value>
iomsrv.metadatasrv.backup.dir=/backups

# Deployment Accounts: Type of Accounts
# Select the type of accounts to use for initial deployment SAS identities.
#user.account.type.ms=internal/external
 user.account.type.ms=internal

# External Account: Installer
# Specify external account credentials for the Installer account, used only to initialize the SAS Metadata Server. The credentials for this account are not persisted.
#oma.person.installer.login.userid=<user name value>
 oma.person.installer.login.userid=sasinst
#oma.person.installer.login.passwd=<password value>
 oma.person.installer.login.passwd={sas001}{{ ExternalPassword }}

# Automatic Script Execution
# Specify your preference for automatic script execution.
#config.sudo.setuid.is_enabled=yes/no
 config.sudo.setuid.is_enabled=yes

# SAS Internal Account: Unrestricted Administrator
# Specify the metadata password for the first Unrestricted Administrator identity. The Unrestricted Administrator has unrestricted administrative access to metadata.
#oma.person.admin.login.passwd.internal.ms=<password value>
 oma.person.admin.login.passwd.internal.ms={{ AdminPassword }}
#oma.person.admin.login.share_passwd=yes/no
 oma.person.admin.login.share_passwd=yes

# SAS Internal Account: Trusted User
# Specify the metadata password for the Trusted User identity. The Trusted User is a privileged service account that can act on behalf of other users on a connection to the metadata server.
#oma.person.trustusr.login.passwd.internal.ms=<password value>
 oma.person.trustusr.login.passwd.internal.ms={{ AdminPassword }}

# Server Encryption
# Select the encryption settings to use when communicating with the SAS Metadata Server.
#oma.propertytype.sasencryptionlevel.name=credentials/everything
 oma.propertytype.sasencryptionlevel.name=credentials
#iomsrv.netencralg.name=SASProprietary/AES/RC2/RC4/DES/TripleDES
 iomsrv.netencralg.name=SASProprietary

# Estimated System Size
# Specify the size of the system to be configured based on the expected number of users and the size of the workload.
#global.system.sizing=small/medium/large
 global.system.sizing=medium

# E-mail Server
# Specify e-mail server information.
#server.mailsrv.host=<text value>
 server.mailsrv.host=hostname.unx.sas.com
#server.mailsrv.port=<port number value>
 server.mailsrv.port=25

# E-mail Addresses
# Specify the e-mail addresses that will be used when communicating with the system administrator.
#server.mailsrv.email.sender.address=<text value>
 server.mailsrv.email.sender.address=noreply@hostname.unx.sas.com
#server.mailsrv.email.to.address=<text value>
 server.mailsrv.email.to.address=noreply@hostname.unx.sas.com
#server.mailsrv.requires.authentication=yes/no
 server.mailsrv.requires.authentication=no

# SAS Environment Manager Agent Configuration
# Specify the SAS Environment Manager/Agent information.
#hyperagntc.agent.setup.camIP=<text value>
 hyperagntc.agent.setup.camIP=midtier-0.internal.cloudapp.net
#hyperagntc.agent.setup.camPort=<port number value>
 hyperagntc.agent.setup.camPort=7080
#hyperagntc.agent.setup.camSSLPort=<port number value>
 hyperagntc.agent.setup.camSSLPort=7443
#hyperagntc.agent.setup.agentPort=<port number value>
 hyperagntc.agent.setup.agentPort=2144

# SAS Internal Account: SAS Environment Manager Service Account
# Specify the metadata password for the service identity for SAS Environment Manager Service.
#hyperagntc.admin.passwd=<password value>
 hyperagntc.admin.passwd={{ AdminPassword }}
