# Response file for the SAS Deployment Wizard
# Created: Sep 3, 2020 9:41:40 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME={{ sasFolder }}/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=yes
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=no

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sasshare/depot/plan.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step and Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=Metadata Server
 PRODUCT_SELECTION1=deployagent
 PRODUCT_SELECTION2=deployagtclt
 PRODUCT_SELECTION3=perlforsas
 PRODUCT_SELECTION4=sasinstall
 PRODUCT_SELECTION5=platfmltypes
 PRODUCT_SELECTION6=mgmtconsole
 PRODUCT_SELECTION7=wipclient
 PRODUCT_SELECTION8=dprosmc
 PRODUCT_SELECTION9=bidata
 PRODUCT_SELECTION10=sagedata
 PRODUCT_SELECTION11=bivagbdata
 PRODUCT_SELECTION12=bidblddata
 PRODUCT_SELECTION13=webinfdodbc
 PRODUCT_SELECTION14=hyperagnt
 PRODUCT_SELECTION15=evmclient
 PRODUCT_SELECTION16=dproclient
 PRODUCT_SELECTION17=bivagbltypes
 PRODUCT_SELECTION18=bilogtypes
 PRODUCT_SELECTION19=bidbldltypes
 PRODUCT_SELECTION20=ttfontsvert
 PRODUCT_SELECTION21=grodscrender
 PRODUCT_SELECTION22=grsgeditor
 PRODUCT_SELECTION23=certframe
 PRODUCT_SELECTION24=sagelogtypes

# Specify SAS Installation Data File
# Specify the full path to your SAS installation data file.
#SAS_INSTALLATION_DATA=<full path to file>
 SAS_INSTALLATION_DATA=/sasshare/depot/sid_files/{{ sid_file_name }}

# Select Language Support
# Select the languages for your software to support.
#LANGUAGE_SELECTION=<comma delimited language codes>
 LANGUAGE_SELECTION=en,u8

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Authentication Type
# Select the type of authentication for this system.
#sasinstall.use.pam=yes/no
 sasinstall.use.pam=no

# Specify Remote Communication Configuration
# The SAS Deployment Agent must be configured in order to perform configuration management operations.
#deployagt.config.port=<port number value>
 deployagt.config.port=5660
#deployagt.config.security.selected=0/1/2
 deployagt.config.security.selected=1
