/*************************************************************/
/*    Changes the sas.web.cdps.knownHosts property of the    */
/*    SAS Application Infrastructure by adding the           */
/*    loadbalancer protocol and name to the list             */
/*************************************************************/
options metaserver="{{ metadata_server_host }}"
        metaport={{ metadata_server_port }}
        metauser="{{ metadata_username }}"
        metapass="{{ metadata_password }}";
options  symbolgen;

%Macro SetCDPSKnownHosts(mode=dryrun,ExtHost=,ExtPort=,ExtProtocol=);
%***  dryrun only reports on findings. no changes made **;
%***  alternative is update ***;

data _null_;
   %*Declare text vars:;
   length property name defaultvalue newdefaultvalue $256;
   %*declare Numeric variables;
   length  n NumProps   8.;

   NumProps = 0;
   n = 0;
   property = "";
   name = "";
   defaultvalue = "";
   newdefaultvalue = "";

   n = 0;
   do while (NumProps >= 0);
      %* this loop works because NumProps becomes (-4) when I have found all the things I was looking for. (n becomes too high) *;

      n++1;
      NumProps = metadata_getnobj("omsobj:Property?@Name='sas.web.cdps.knownHosts'", n, property);
      put n= NumProps=;
      if (NumProps ne -4) then do;
         rc1 = metadata_getattr(property, "DefaultValue", defaultvalue);
         newdefaultvalue = cats(defaultvalue, ",", "&ExtProtocol://&ExtHost/");
         %if "&mode"="update" %then %do;
            put @8 '+Updating sas.web.cdps.knownHosts from "' defaultvalue '" to "' newdefaultvalue '"';
            rc1 = metadata_setattr(property, "DefaultValue", compress(newdefaultvalue));
            if (rc1 >=0) then put @12 'change successful';
         %end;
      end;
   end;
run;

%mend;

%SetCDPSKnownHosts(mode=update,ExtHost={{ external_host_name }},ExtPort={{ external_port }},ExtProtocol={{ external_protocol }});
