/*************************************************************/
/* Set the va.linker.applicationurl.urlOverride advanced
/* property on the Visual Analytics Hyperlink Service to the
/* loadbalancer url
/*************************************************************/
options metaserver="{{ metadata_server_host }}"
        metaport={{ metadata_server_port }}
        metauser="{{ metadata_username }}"
        metapass="{{ metadata_password }}";
options  symbolgen;

%Macro SetURLOverride(mode=dryrun,ExtHost=,ExtPort=,ExtProtocol=);
%***  dryrun only reports on findings. no changes made **;
%***  alternative is update ***;

data _null_;
   %*Declare text vars:;
   length component propertyset property p name $256;
   %*declare Numeric variables;
   length NumComponents NumPropertySets NumProperties m rc 8.;

   NumComponents = 0;
   NumPropertySets = 0;
   NumProperties = 0;
   m = 0;
   rc = 0;

   component = "";
   propertyset = "";
   property = "";
   p = "";
   name = "";

   /* Retrieve the Software Component for "Visual Analytics Hyperlink Service 7.5" */
   NumComponents = metadata_getnobj("omsobj:SoftwareComponent?@Name='Visual Analytics Hyperlink Service 7.5'", 1, component);
   if (NumComponents ne -4) then do;
      put component=;
      /* Retrieve the PropertySets for the component */
      NumPropertySets = metadata_getnasn(component, "PropertySets", 1, propertyset);

      if (NumPropertySets ne -4) then do;
         put propertyset=;
         NumProperties = 0;
         m = 0;
         property = "";

         /* Iterate through the propertyset to see if there is already an
            association to a property named "va.linker.applicationurl.urlOverride */

         do while( NumProperties >= 0 and property eq "");
            m++1;
            NumProperties = metadata_getnasn(propertyset, "SetProperties", m, p);

            rc = metadata_getattr(property, "Name", name);
            if (name eq "va.linker.applicationurl.urlOverride") then property = p;
         end;

         /* If no property exists by that name, then create one and append it to the propertyset */
         if (property eq "") then do;
            rc = metadata_newobj("Property", property, "va.linker.applicationurl.urlOverride", "Foundation", propertyset, "SetProperties");
            rc = metadata_setattr(property, "PropertyName", "va.linker.applicationurl.urlOverride");
            rc = metadata_setattr(property, "PublicType", "Property");
            rc = metadata_setattr(property, "UsageVersion", "1.000000");
         end;

         /* Set the default value for the property (found or new) to "&ExtProtocol://&ExtHost:&ExtPort/SASVisualAnalytics" */
         rc = metadata_setattr(property, "DefaultValue", "&ExtProtocol://&ExtHost:&ExtPort/SASVisualAnalytics");
         put rc=;
      end;
   end;
run;

%mend;

%SetURLOverride(mode=update,ExtHost={{ external_host_name }},ExtPort={{ external_port }},ExtProtocol={{ external_protocol }});
