[Unit]
Description=PreSAS create ephemeral storage folder structures
After=local-fs.target remote-fs.target
Before=sas-viya-all-services.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/setupSasWorkOnStartup.sh
RemainAfterExit=true

[Install]
WantedBy=default.target