---
- hosts: [sas_servers,localhost]
  become: yes
  vars_files:
    - /tmp/ansible_vars.yaml

  tasks:
    - name: Ensure "sas" group exists
      group:
        name: sas
        gid: 1003
        state: present

    - name: Ensure "sasinst" user exists, set password
      user:
        name: sasinst
        uid: 501
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Add sudoers access for sasinst
      become: yes
      shell: >-
        echo "sasinst ALL=(ALL) NOPASSWD:ALL" >/etc/sudoers.d/100-sas-users

    - name: Ensure "sas" user exists, set password
      user:
        name: sas
        uid: 503
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "sasdemo" user exists, set password
      user:
        name: sasdemo
        uid: 504
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "sassrv" user exists, set password
      user:
        name: sassrv
        uid: 505
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "sastrust" user exists, set password
      user:
        name: sastr
        uid: 506
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "sasadm" user exists, set password
      user:
        name: sasadm
        uid: 507
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "sasevs" user exists, set password
      user:
        name: sasevs
        uid: 508
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

    - name: Ensure "webanon" user exists, set password
      user:
        name: webanon
        uid: 509
        password: "{{ ExternalPassword | b64decode | password_hash('sha512') }}"
        group: sas

- hosts: [sas_servers]
  become: yes
  vars_files:
    - /tmp/ansible_vars.yaml

  tasks:
    - name: Change ownership of /sas folder
      file:
        path: "{{ SASFolder }}"
        owner: sasinst
        group: sas
        mode: '0755'

- hosts: [localhost]
  become: yes
  vars_files:
    - /tmp/ansible_vars.yaml

  tasks:
    - name: Change ownership of /sas folder
      file:
        path: /sas
        owner: sasinst
        group: sas
        mode: '0755'
