/*************************************************************/
/* Set the va.linker.applicationurl.urlOverride advanced
/* property on the Visual Analytics Hyperlink Service to the
/* loadbalancer url
/*************************************************************/
options metaserver="{{ metadata_server_host }}"
        metaport={{ metadata_server_port }}
        metauser="{{ metadata_username }}"
        metapass="{{ metadata_password }}";
options  symbolgen;

%Macro SetURLOverride(mode=dryrun,ExtHost=,ExtPort=,ExtProtocol=);
%***  dryrun only reports on findings. no changes made **;
%***  alternative is update ***;

data _null_;
   %*Declare text vars:;
   length document uri textrole suffix newuri $256;
   %*declare Numeric variables;
   length NumDocuments rc x 8.;

   NumDocuments = 0;
   rc = 0;
   x = 0;

   document = "";
   uri = "";
   textrole = "";
   suffix = "";
   newuri = "";

   /* Retrieve the Software Document for "Visual Analytics Hyperlink Service 7.5" */
   NumDocuments = metadata_getnobj("omsobj:Document?@Name='Report Repository Content Mapping'", 1, document);

   put NumDocuments=;
   if (NumDocuments ne -4) then do;
      put document=;

      /* Get the URI attribute */
      rc = metadata_getattr(document, "URI", uri);
      put uri=;

      /* Change the protocol, host and port of the URI */
      x = find(uri, "://");
      suffix = substr(uri, x+3);
      x = find(suffix, "/");
      suffix = substr(suffix, x);
      put suffix=;
      newuri = cats("&ExtProtocol", "://", "&ExtHost", ":", "&ExtPort", suffix);
      put uri=;
      put newuri=;
      rc = metadata_setattr(document, "URI", newuri);

      /* Set the "TextRole" attribute to "ReportRepositoryContentMapping" */
      rc = metadata_getattr(document, "TextRole", textrole);
      if ( ( (rc = 0) and (textrole ^= "ReportRepositoryContentMapping") ) or (rc < 0) ) then do;
         put "Setting TextRole attribute to 'ReportRepositoryContentMapping'";
         rc = metadata_setattr(document, "TextRole", "ReportRepositoryContentMapping");
      end;

   end;
run;

%mend;

%SetURLOverride(mode=update,ExtHost={{ external_host_name }},ExtPort={{ external_port }},ExtProtocol={{ external_protocol }});
