[Unit]
Description=EMC ECS Installer start
After=docker.service
[Service]
Type=simple
Restart=no
ExecStart=/root/ecs.sh
ExecStop=
[Install]
WantedBy=default.target