@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    ViewData["Title"] = "Locked out";
}
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
