body {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}
 .query_border {
    background-color: aliceblue;
    border: solid 1px;
    border-radius: 3px;
    padding: 15px;
    / width: 100%; /
    / font-weight: bolder; /
    margin-left: 2%;
    margin-right: 2%;
  }
.border1 {
    border-style: solid;
    border-width: thin;
    padding: 20px;
    border: 1px LightGray;
    border-radius: 8px;
    background-color:LightGray;
  }
  #headerThird {   /*/final*/
  color: #fff;
    padding: 20px 0;
background: -moz-linear-gradient(357deg, rgba(23,197,255,1) 0%, rgba(23,197,255,1) 10%, rgba(0,68,255,1) 52%, rgba(125,166,255,1) 87%, rgba(52,92,231,1) 99%, rgba(46,86,230,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(23,197,255,1)), color-stop(10%, rgba(23,197,255,1)), color-stop(52%, rgba(0,68,255,1)), color-stop(87%, rgba(125,166,255,1)), color-stop(99%, rgba(52,92,231,1)), color-stop(100%, rgba(46,86,230,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(357deg, rgba(23,197,255,1) 0%, rgba(23,197,255,1) 10%, rgba(0,68,255,1) 52%, rgba(125,166,255,1) 87%, rgba(52,92,231,1) 99%, rgba(46,86,230,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(357deg, rgba(23,197,255,1) 0%, rgba(23,197,255,1) 10%, rgba(0,68,255,1) 52%, rgba(125,166,255,1) 87%, rgba(52,92,231,1) 99%, rgba(46,86,230,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(357deg, rgba(23,197,255,1) 0%, rgba(23,197,255,1) 10%, rgba(0,68,255,1) 52%, rgba(125,166,255,1) 87%, rgba(52,92,231,1) 99%, rgba(46,86,230,1) 100%); /* ie10+ */
background: linear-gradient(93deg, rgba(23,197,255,1) 0%, rgba(23,197,255,1) 10%, rgba(0,68,255,1) 52%, rgba(125,166,255,1) 87%, rgba(52,92,231,1) 99%, rgba(46,86,230,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17C5FF', endColorstr='#2E56E6',GradientType=1 ); /* ie6-9 */
}
.heading {
    font-size: 36px;
}
.subHeading {
  color: #f1eded;
  font-size: 14px;

}
.spacing {
  margin-top: 5%;
}
.responsive {
    height: auto;
    /*max-width: 100%;*/
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 80%;
}
.para {
  font-style: normal;
}
.highlight {
  color: darkblue;
}
.subHeads {
  margin-left: 2%;
}
.subStepHead {
  margin-left: 5%;
}
.shift {
  margin-left: 7%;
}
.spacing-points {
  margin-top: 2%;
}
.stepper {
  font-weight: bold;
  text-shadow: 1px 1px 1px lightblue;
}
/*.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
